{% block block_image_slider %}
    {% set element = block.slots.getSlot('slider') %}
    {{ dump(element) }}
    {% set columns = 1 %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block element_image_slider %}
            {% set sliderConfig = element.config %}

            <div class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == "standard" and sliderConfig.verticalAlign.value %} has-vertical-alignment{% endif %}">
                {% set baseSliderOptions = {
                    slider: {
                        navPosition: 'bottom',
                        speed: sliderConfig.speed.value,
                        autoplayTimeout: sliderConfig.autoplayTimeout.value,
                        autoplay: sliderConfig.autoSlide.value,
                        autoplayButtonOutput: false,
                        nav: sliderConfig.navigationDots.value ? true : false,
                        controls: sliderConfig.navigationArrows.value ? true : false,
                        autoHeight: (sliderConfig.displayMode.value == "standard") ? true : false
                    }
                } %}
                {{ dump(baseSliderOptions) }}
                {{ dump(element) }}
                {{ dump(element.config.sliderItems.value|first) }}

                {% block element_image_slider_alignment %}
                    {% if config.verticalAlign.value %}
                        <div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                    {%  endif %}
                    <div class="base-slider image-slider{% if sliderConfig.navigationArrows.value == "outside" %} has-nav-outside{% endif %}{% if sliderConfig.navigationDots.value == "outside" %} has-dots-outside{% endif %}"
                         data-base-slider="true"
                         data-base-slider-options='{{ baseSliderOptions|json_encode }}'>

                        {% block element_image_slider_inner %}
                            <div class="image-slider-container"
                                 data-base-slider-container="true">

                                {% for image in element.config.sliderItems.value %}
                                    {% set imageElement %}
                                        <div class="image-slider-item{% if loop.first != true %} is-not-first{% endif %} is-{{ sliderConfig.displayMode.value }}"{% if sliderConfig.minHeight.value and  sliderConfig.displayMode.value == "cover" %} style="min-height: {{ sliderConfig.minHeight.value }}"{% endif %}>
                                            {% set attributes = {
                                                'class': 'img-fluid image-slider-image',
                                                'alt': (image.media.translated.alt ?: ''),
                                                'title': (image.media.translated.title ?: '')
                                            } %}
                                            {% set bannerImg = searchMedia([image.bannerImg.id], context.context) %}
                                            <div class="image-slider-item-banner" style="background-color: #{{ image.bannerBg }};{% if image.bannerImg.id %}background-image: url('{{ bannerImg|first.url }}'){% endif %}">
                                                <div class="banner-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut, consequatur consequuntur debitis dolor error eveniet expedita fuga, harum impedit molestias natus, recusandae repellat sed sint sunt ullam vero voluptates!
                                                    <button class="banner-text-link">Get it!</button>
                                                </div>
                                            </div>

                                            {% if element.config.displayMode.value == 'cover' or element.config.displayMode.value == 'contain' %}
                                                {% set attributes = attributes|merge({ 'data-object-fit': element.config.displayMode.value }) %}
                                            {% endif %}
                                            {% set tileImg = searchMedia([image.mediaId], context.context) %}
                                            {% sw_thumbnails 'cms-image-slider-thumbnails' with {
                                                media: tileImg|first
                                            } %}
                                        </div>
                                    {% endset %}

                                    {% block element_image_slider_inner_item %}
                                        <div class="image-slider-item-container">
                                            {% if image.url %}
                                                <a {% if element.config.sliderItems.value|first.newTab %}target="_blank"{% endif %} href="{{ image.url }}"
                                                   class="image-slider-link"
                                                   {% if image.newTab %}target="_blank" rel="noopener"{% endif %}>
                                                    {{ imageElement }}
                                                </a>
                                            {% else %}
                                                {{ imageElement }}
                                            {% endif %}
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>

                            {% block element_image_slider_controls %}
                                {% if sliderConfig.navigationArrows.value %}
                                    <div class="image-slider-controls-container">
                                        <div class="base-slider-controls"
                                             data-base-slider-controls="true">
                                            {% block element_image_slider_controls_items %}
                                                {% block element_image_slider_controls_items_arrows %}
                                                    <button class="base-slider-controls-prev image-slider-controls-prev{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-prev-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-prev-inside{% endif %}">
                                                        {% block element_image_slider_controls_items_prev_icon %}
                                                            {% sw_icon 'arrow-head-left' %}
                                                        {% endblock %}
                                                    </button>
                                                    <button class="base-slider-controls-next image-slider-controls-next{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-next-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-next-inside{% endif %}">
                                                        {% block element_image_slider_controls_items_next_icon %}
                                                            {% sw_icon 'arrow-head-right' %}
                                                        {% endblock %}
                                                    </button>
                                                {% endblock %}
                                            {% endblock %}
                                            {% if element.config.scrollDown.value %}
                                                <button class="image-slider-scroll-down" data-scroll-down="{{ element.config.scrollDown.value }}">
                                                    <div>Scroll down</div>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                    {% if config.verticalAlign.value %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}
